@media only screen and (max-width: 1200px) {

}


@media only screen and (max-width: 480px) {

    h1 {
        margin-top: 50%;
        color: mediumslateblue;
        font-size: 280%;
    }
    h2 {
        font-family: 'Faster One', cursive;
        color: mediumslateblue;
        font-size: 280%;
        margin-top: 30%;
    }


}